/* Estilos para el contenedor del formulario */
.formulario-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  background: linear-gradient(to right, white 50%, #0D161A); /* Fondo gradiente */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Estilos para el encabezado h2 */
h2 {
  margin-top: 0; /* Elimina el margen superior */
}

/* Estilos para el encabezado h1 */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
}

/* Estilos para las etiquetas del formulario */
label {
  margin-bottom: 5px;
}

/* Estilos para los campos de texto, correo y asunto */
input[type="text"],
input[type="email"],
input[type="asunto"],
textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
  background-color: #0F50A3; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

/* Estilos para el botón de enviar al pasar el ratón */
input[type="submit"]:hover {
  background-color: #093d81; /* Color de fondo al pasar el ratón */
}

/* Estilos para la imagen del logo */
.logo-img {
  position: absolute;
  right: 0;
  /* Ajusta el ancho y altura según sea necesario */
  width: 100px;
  height: 100px;
}

/* Estilos para el contenedor de los íconos de redes sociales */
.icon-buttons-container {
  display: flex;
  justify-content: flex-end; /* Alinea los íconos al final */
}
