/* Estilos para la aplicación principal (App.js) */
.App {
  text-align: center; /* Centra el texto en la aplicación */
}

/* Estilos para la sección de contacto */
.contacto {
  padding: 20px; /* Añade espacio alrededor del contenido */
  background-color: #0F50A3; /* Color de fondo */
  color: hsl(0, 33%, 96%); /* Color del texto */
}

/* Estilos para la sección de transporte */
.trasporte {
  padding: 20px; /* Añade espacio alrededor del contenido */
  background-color: #F8B901; /* Color de fondo */
  color: #0F50A3; /* Color del texto */
}

/* Estilos para la imagen de transporte */
.trasporte img {
  width: 10%; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de aspecto */
}

/* Estilos para la sección de camión */
.camion {
  padding: 20px; /* Añade espacio alrededor del contenido */
  background-color: #0F50A3; /* Color de fondo */
}

/* Estilos para la sección del mapa */
.mapa {
  padding: 50px; /* Añade espacio alrededor del contenido */
  background-color: #F8B901; /* Color de fondo */
  color: #0F50A3; /* Color del texto */
}

/* Estilos para el pie de página */
.footer {
  padding: 50px; /* Añade espacio alrededor del contenido */
  background-color: #0D161A; /* Color de fondo */
  color: aliceblue; /* Color del texto */
}

/* Estilos para la imagen de camión */
.camion img {
  width: 30%; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de aspecto */
}

/* Estilos para tamaños de pantalla más pequeños (móviles y tabletas) */
@media only screen and (max-width: 768px) {
  .trasporte img {
    width: 20%; /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
  }

  .camion img {
    width: 50%; /* Ajusta el tamaño de la imagen de camión para pantallas más pequeñas */
  }
}