/* App.css */
.App {
  text-align: center;
}
.contacto {
  padding: 20px;
  background-color: #0F50A3;

  color: hsl(0, 33%, 96%);
}
.trasporte {
  padding: 20px;
  background-color: #F8B901;
  color: #0F50A3;
}
.trasporte img {
  width: 10%;
  height: auto;
}
.camion {
  padding: 20px;
  background-color: #0F50A3;
}

.mapa {
  padding: 50px;
  background-color: #F8B901;
  color: #0F50A3;
}

.footer {
  padding: 50px;
  background-color: #0D161A;;
  color: aliceblue;
}


.camion img {
  width: 30%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .trasporte img {
    width: 20%;
  }

  .camion img {
    width: 50%;
  }
}



